// switch
$switch-padding-y: .25rem !default;
$switch-padding-x: 1rem !default;
$switch-font-size: 1rem !default;
$switch-border-width: var(--ui-border-width) !default;
$switch-border-color: var(--ui-border-color-translucent) !default;
$switch-border-radius: var(--ui-border-radius) !default;
$switch-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color) !default;
$switch-disabled-opacity: var(--ui-disabled-opacity) !default;
$switch-transition-duration: .5s !default;

$switch-xs-font-size: .5rem !default;
$switch-xs-padding-x: .5rem !default;
$switch-sm-font-size: .75rem !default;
$switch-sm-padding-x: .75rem !default;
$switch-lg-font-size: 1.25rem !default;
$switch-lg-padding-x: 1.25rem !default;
$switch-xl-font-size: clamp(1.35rem, calc(1.35rem + .33vw), 1.5rem) !default;
$switch-xl-padding-x: 1.5rem !default;
