@forward "vars";

@use "vars";

.switch-outer {
    --ui-switch-padding-x: #{vars.$switch-padding-x};
    --ui-switch-padding-y: #{vars.$switch-padding-y};
    --ui-switch-font-size: #{vars.$switch-font-size};
    --ui-switch-border-width: #{vars.$switch-border-width};
    --ui-switch-border-color: #{vars.$switch-border-color};
    --ui-switch-border-radius: #{vars.$switch-border-radius};
    --ui-switch-focus-box-shadow: #{vars.$switch-focus-box-shadow};
    --ui-switch-disabled-opacity: #{vars.$switch-disabled-opacity};
    --ui-switch-transition-duration: #{vars.$switch-transition-duration};

    overflow: hidden;
    font-size: var(--ui-switch-font-size);
    text-align: center;
    user-select: none;
    outline: 0;
    border: var(--ui-switch-border-width) var(--ui-border-style) var(--ui-switch-border-color);
    border-radius: var(--ui-switch-border-radius);

    &:focus-visible {
        box-shadow: var(--ui-switch-focus-box-shadow);
    }
}

.switch-disabled {
    pointer-events: none;
    opacity: var(--ui-switch-disabled-opacity);
}

.switch {
    display: flex;
    transition-timing-function: var(--ui-transition-timing-function);
    transition-property: transform;

    .switch-toggle-on,
    .switch-toggle-off {
        flex-shrink: 0;
        padding-block: var(--ui-switch-padding-y);
        padding-inline: var(--ui-switch-padding-x);
        white-space: nowrap;
    }
}

.switch-dragging .switch {
    transition: none;
}

.switch-xs {
    --ui-switch-padding-x: #{vars.$switch-xs-padding-x};
    --ui-switch-font-size: #{vars.$switch-xs-font-size};
}

.switch-sm {
    --ui-switch-padding-x: #{vars.$switch-sm-padding-x};
    --ui-switch-font-size: #{vars.$switch-sm-font-size};
}

.switch-lg {
    --ui-switch-padding-x: #{vars.$switch-lg-padding-x};
    --ui-switch-font-size: #{vars.$switch-lg-font-size};
}

.switch-xl {
    --ui-switch-padding-x: #{vars.$switch-xl-padding-x};
    --ui-switch-font-size: #{vars.$switch-xl-font-size};
}

@media (prefers-reduced-motion: no-preference) {
    .switch {
        transition-duration: calc(var(--ui-switch-transition-duration) * var(--ui-switch-transition-scale, 1));
    }
}
